div#top a.button:first-child
{
    color: greenyellow;
    border: 2px solid greenyellow;
    padding: 5px;
}

/* Change color of the dot of each list */
ul.key-element li
{
    color: #ff9966;
}

/* Change text color of each list */
ul.key-element p
{
    color: white;
}

/* Add underline for each key in the list
   and remove margin for each key in the list */
.key-element li p:first-child
{
    text-decoration: underline #ff9966;
    text-underline-position: under;

    margin-top: 0;
    margin-bottom: 0;
}

/* Add italic font style for each value and margins */
.key-element li p:nth-child(2)
{
    font-style: italic;

    margin-top: 10px;
    margin-bottom: 10px;
}