div#ingredients ul li
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Add underline for each key in the list
   and remove margin for each key in the list */
.key-value li p:first-child
{
    text-decoration: underline #ff9966;
    text-underline-position: under;

    margin-top: 0;
    margin-bottom: 0;
}

/* Add italic font style for each value and margins */
.key-value li p:nth-child(2)
{
    margin-top: 10px;
    margin-bottom: 10px;
}