@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body
{
    background-color: #0e1c26;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
}

a
{
    color: greenyellow;
}

h1
{
    font-size: 250%;
}

h1.title
{
    text-decoration: underline #ff9966;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 5px;
}

h1.title:hover
{
    text-decoration: underline greenyellow;
}

h2.title
{
    text-decoration: underline #ff9966;
    text-underline-position: under;
    text-underline-offset: 5px;
}

h2.title:hover
{
    text-decoration: underline greenyellow;
}

h2
{
    font-size: 180%;
}

h1, h2
{
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
}

/* Change color of the dot of each list */
ul li
{
    color: #ff9966;
}

/* Change text color of each list */
ul p
{
    color: white;
}

ul#recipe-list a
{
    color: white;
    text-decoration: underline #ff9966;
    text-underline-position: under;
    text-underline-offset: 3px;
}

ul#recipe-list a:hover
{
    text-decoration: underline greenyellow;
}

div
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.border
{
    border: 2px solid #ff9966;
    padding: 15px;
}

div.border h1
{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.border h2
{
    margin-top: 0;
    margin-bottom: 0;
}

.button
{
    text-decoration: none;
    border: 2px solid yellowgreen;
    color: greenyellow;
    padding: 5px;
}